@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= LIGHT THEME ================= */

:root {
    --background: #E3E2DA;
    --foreground: #1F1F1C;

    --primary: #9ACD32;
    --primary-foreground: #1F1F1C;

    --secondary: #738f52;
    --secondary-foreground: #E3E2DA;

    --border: #d6d5cc;
    --muted: #f1f0e8;
}

/* ================= DARK THEME ================= */

.dark {
    --background: #1F1F1C;
    --foreground: #E3E2DA;

    --primary: #9ACD32;
    --primary-foreground: #1F1F1C;

    --secondary: #738f52;
    --secondary-foreground: #E3E2DA;

    --border: #2e2e2b;
    --muted: #2a2a27;
}

/* ================= GLOBAL BASE ================= */

body {
    background: var(--background);
    color: var(--foreground);
}